# Python
*.py[cod]
*checkpoint.ipynb

# C extensions
*.so

# Packages
*.egg*
.eggs
.installed.cfg
dist
build
eggs
parts
var
sdist
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
*.wpu
*.rope
*.noseids
*.ropeproject
.coverage
.tox
.noseids
.scripttest
.cache
coverage.xml
nosetests.xml
cover

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build
build/*
